# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# =========================
# Virtual Environments
# =========================
.env
.env.*

# =========================
# Databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Model Artifacts
# =========================
*.pkl
*.joblib
models/

# =========================
# FastAPI / Backend
# =========================
*.log

# =========================
# VS Code / Editors
# =========================
.vscode/
.idea/

# =========================
# Frontend / Node
# =========================
node_modules/
dist/
build/
package-lock.json

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store